[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/QMidi"]
	path = libs/QMidi
	url = https://github.com/OXI-Instruments/QMidi.git
[submodule "libs/rtmidi"]
	path = libs/rtmidi
	url = https://github.com/OXI-Instruments/rtmidi.git
