astroid==2.4.2
autopep8==1.5.4
flake8==3.8.4
isort==5.7.0
jedi==0.17.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
mido==1.2.9
parso==0.7.1
pluggy==0.13.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.6.0
pyls==0.1.6
PySide6==6.0.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-rtmidi==1.4.7
rope==0.18.0
shiboken6==6.0.0
six==1.15.0
snowballstemmer==2.1.0
toml==0.10.2
ujson==4.0.2
wrapt==1.12.1
yapf==0.30.0
